body {
    background-color: #A7E2F1
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFC65C;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
li {
  float: left;
}

li a {
  display: block;
  color: #01200F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #104F55;
}

.active {
  background-color: #A31621;
}