body {
    background-color: #A7E2F1
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFC65C;
    position: fixed;
    top: 0;
    width: 100%;
  }