/* GeneralStyle */
/* Section contributed and owned by Kimberly Hansen */
body {
    background-color: #D9DCD6
  }

.content {
  text-align: center;
  font-size: 16px;
  color:#2F6690;
  font-family: archer, arial;
  margin-top: 40px;
  padding: 16px;
}

h1 {
  font-family: archer, arial;
  font-size: 40px;
  font: bold;
  text-align: center;
  padding-top: 55px;
  padding-left: 90px;
  padding-right: 100px;
  color: #FF7F50;
}
p {
  font-family: archer, arial;
  font-size: 30px;
  font: bold;
  text-align: center;
  padding-top: 55px;
  padding-left: 90px;
  padding-right: 100px;
  color: #16425B
}
h2 {
  color: #FF7F50;
}


  /* Title
.pagetitle
h1 {
  font-family: archer, arial;
  font-size: 26px;
  font: bold;
  text-align: center;
  padding-top: 55px;
  padding-left: 90px;
  padding-right: 100px;
  color: #16425B
}
p {
  font-family: archer, arial;
  font-size: 20px;
  font: bold;
  text-align: center;
  padding-top: 55px;
  padding-left: 90px;
  padding-right: 100px;
  color: #16425B
}
h2 {
  color: #16425B;
}
/* Page Body */
/* .pagebody
h1 {
  font-family: archer, arial;
  font-size: 18px;
  text-align: center;
  padding-top: 55px;
  padding-left: 90px;
  padding-right: 100px;
  color: #16425B
}
p {
  font-family: archer, arial;
  color: #16425B
}
h2 {
  color: #16425B;
} */ 


  

/* Navigation bar */
ul.nav {
    list-style-type: none;
    margin: 25px;
    padding: 10px;
    overflow: hidden;
    background-color: #6BBAA7;
    position: fixed;
    top: 0;
    width: 100%;
    opacity:1;
  }
li.nav {
  float: left;
}
li a {
  display: block;
  color: #D9DCD6;;
  font: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #FF7F50;
  color: #16425B;
}
.active {
  background-color: #FF7F50;
  color: #D9DCD6;
}

/* .sticky and .sticky + .content added by Aaron Jutzi Dec. 6, 2020 */
/* these css classes work (with the js file) to stick the navbar when scrolling down */
/* inspiration: https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */

ul.sticky {
  margin: 0px;
  margin-left: 25px;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.sticky + .content {
  padding-top: 5px;
}






/* Background video */
.videocontainer
  {
    z-index: -1;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: rgb(143, 129, 129);
    margin-top: 100px;
    margin-bottom: 0px;
  }
.button {
   display: inline-block; 
   padding-right: 20px;
   padding-top: 100px;
  }
/* dropdown menu on plan your trip page-jessica november 24,2020*/
.dropbtn {
  background-color: #FBA100;
  color: #D9DCD6;
  padding: 20px;
  font-size: 20px;
  border: none;
  font-family: archer, arial;
  z-index:1000;
  }
.dropdown {
  position: absolute;
  display: inline-block;
  padding-left:100px;
  margin-top:50px
  }
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2F6690;
  min-width: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: archer, arial;}
.dropdown-content a {
  color: #D9DCD6;
  padding: 2px 2px;
  text-decoration: none;
  display: block;
  font-family: archer, arial;}
.dropdown-content a:hover {background-color: #2F6690;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #2F6690;}

/*CSS for links- Created by Jessica*/
a{
background-color: #2F6690;
color: #D9DCD6;
padding: 5px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 25px;}

 /*.flights {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  color:#FBA100;
  font-family: archer, arial;
  font-weight: bold;}

 .Hotels {
  text-align: center;
  font-size: 30px;
  margin-top: 200px;
  color:#FBA100;
  font-family: archer, arial;}

 .CarRentals{
  text-align: center;
  font-size: 30px;
  margin-top:200px;
  margin-bottom: 100px;
  color:#FBA100;
  font-family: archer, arial;}
  
 .plantrip {
  text-align: center;
  margin-top:100px;
  font-family: archer, arial;
  font-size: 40px;
  font-weight: bold;
  color:#FBA100;}*/

/*CSS for Covid Page-Jessica*/ 
/*.covid{  
  text-align: center;
  font-size: 16px;
  color:#16425B;
  font-family: archer, arial;
  margin-top: 100px;}
  
.Travellers{
  text-align: center;
  font-size: 16px;
  color:#16425B;
  font-family: archer, arial;
  margin-top:100px;}

.Advice{
  text-align: center;
  font-size: 16px;
  color:#16425B;
  font-family: archer, arial;
  margin-top:100px;}*/
  

/* Modal on Things to do page - Built by Kimberly */

.modalcontainer
  {
    display: inline-block;
    object-position: center;
    margin-top:100px;
    align-content: center;

  }
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #FBA100;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  background-color: #B6A19E;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #6BBAA7;
  color: white;
}



/* CSS for places to go page added by Aaron */

.places
  h1 {
    font-family: archer, arial;
    font-size: 18px;
    text-align: center;
    color: #16425B
  }
  p {
    font-family: archer, arial;
    color: #16425B
  }
  h2 {
    color: #16425B;
  }


.div1 {
  height: 350px;
  width: 45%;
  border: 1px solid red;
  float: left;
}

.div2 {
  height: 350px;
  width: 23%;
  border: 1px solid green;
  text-align: left;
  font-size: 20px;
  float: left;
}

.div2 h1{
  text-align: left;
  margin-top: 2px;
  padding: 2px;
}

.div2 li{
  text-align: left;
  margin-top: 2px;
  padding: 2px;
  margin: 20px;
}

.div3 {
  height: 350px;
  width: 30%;
  border: 1px solid red;
  text-align: left;
  font-size: 20px;
  float: left;
} 

.div3 h1{
  text-align: left;
  margin-top: 2px;
  padding: 2px;
}

.div3 li{
  text-align: left;
  margin-top: 2px;
  padding: 2px;
  margin: 20px;
}

.div5 {
  width: 100%;
  height: 315px;
  align-items: center;
  margin: 2px;
  padding: 2px;
}

.div4 {
  width: 100%;
  font-size: 16px;
  color:#16425B;
  font-family: archer, arial;
  border: 1px solid green;
  float:left;
  margin-bottom: 20px;
}

.div4 h1 {
  padding: 2px;
}

.div4 td, .div4 th {
	border: 1px solid;
	padding: 8px;
}

.div4 th {
	padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #FF7F50;
  color: white;
}

.div4 tr {
	background-color: beige;
	color: black;
	padding-top: 12px;
    padding-bottom: 12px;
}
	
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

div.background1 {
  z-index: -1;
  background: url(Images/road.jpg) repeat;
  border: 2px solid black;
  position: fixed;
  width: 100%;
}
div.background2 {
  background: url(Images/trees.jpg) repeat;
  border: 2px solid rgb(77, 69, 69);
  position: fixed;
  width: 100%;
}
div.background3 {
  background: url(Images/sunset.jpg) repeat;
  border: 2px solid black;
  opacity: 0.4;
  position: fixed;
  width: 100%;
}
 div.transbox {
  margin: 10px;
  background-color: #6BBAA7;
  border: 1px  #1f3631;
  opacity: 0.3;
  float: right;
  width: 60%;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

