/* GeneralStyle */
/* Section contributed and owned by Kimberly Hansen */
body {
    background-color: #A7E2F1
  }
/* Navigation bar */
ul {
    list-style-type: none;
    margin: 25px;
    padding: 10px;
    overflow: hidden;
    background-color: #104F55;
    position: fixed;
    top: 0;
    width: 100%;
  }
li {
  float: left;
}
li a {
  display: block;
  color: #FFC65C;;
  font: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #FFC65C;
  color: #01200F;
}
.active {
  background-color: #A31621;
  color: #01200F;
}
/* Title */
.pagetitle
  h1 {
    margin-top: 100px;
    font-family: archer, arial;
    font-size: 26px;
    font: bold;
    text-align: center;
    padding-top: 55px;
    padding-left: 90px;
    padding-right: 100px;
    color: #01200F
  }
  p {
    font-family: archer, arial;
    font-size: 20px;
    font: bold;
    text-align: center;
    padding-top: 55px;
    padding-left: 90px;
    padding-right: 100px;
    color: #01200F
  }
  h2 {
    color: #01200F;
  }
/* Page Body */
.pagebody
  h1 {
    margin-top: 100px;
    font-family: archer, arial;
    font-size: 18px;
    text-align: center;
    padding-top: 55px;
    padding-left: 90px;
    padding-right: 100px;
    color: #01200F
  }
  p {
    font-family: archer, arial;
    color: #01200F
  }
  h2 {
    color: #01200F;
  }
/* Background video */
.videocontainer
  {
    z-index: -1;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #000;
  }
video {
  width: 1280px; 
  height: 720px;
  margin-left: -129px;
  margin-top: 0px;
  }
