/* GeneralStyle */
/* Section contributed and owned by Kimberly Hansen */
body {
    background-color: #D9DCD6
  }

.content {
  text-align: center;
  font-size: 16px;
  color:#16425B;
  font-family: archer, arial;
  margin-top: 100px;
  padding: 16px;
}
  

/* Navigation bar */
ul.nav {
    list-style-type: none;
    margin: 25px;
    padding: 10px;
    overflow: hidden;
    background-color: #2F6690;
    position: fixed;
    top: 0;
    width: 100%;
  }
li.nav {
  float: left;
}
li a {
  display: block;
  color: #D9DCD6;;
  font: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #D9DCD6;
  color: #16425B;
}
.active {
  background-color: #16425B;
  color: #D9DCD6;
}

/* .content .sticky and .sticky + .content added by Aaron Jutzi Dec. 6, 2020 */
/* these css classes work (with the js file) to stick the navbar when scrolling down */
/* inspiration: https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */

ul.sticky {
  margin: 0px;
  margin-left: 25px;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.sticky + .content {
  padding-top: 60px;
}





/* Title */
.pagetitle
  h1 {
    /*margin-top: 100px;*/
    font-family: archer, arial;
    font-size: 26px;
    font: bold;
    text-align: center;
    padding-top: 55px;
    padding-left: 90px;
    padding-right: 100px;
    color: #16425B
  }
  p {
    font-family: archer, arial;
    font-size: 20px;
    font: bold;
    text-align: center;
    padding-top: 55px;
    padding-left: 90px;
    padding-right: 100px;
    color: #16425B
  }
  h2 {
    color: #16425B;
  }
/* Page Body */
.pagebody
  h1 {
    /*margin-top: 100px;*/
    font-family: archer, arial;
    font-size: 18px;
    text-align: center;
    padding-top: 55px;
    padding-left: 90px;
    padding-right: 100px;
    color: #16425B
  }
  p {
    font-family: archer, arial;
    color: #16425B
  }
  h2 {
    color: #16425B;
  }
/* Background video */
.videocontainer
  {
    z-index: -1;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #000;
  }
.button {
   display: inline-block; 
   margin-right: 20px;
  }
/* dropdown menu on plan your trip page-jessica november 24,2020*/
.dropbtn {
  background-color: #2F6690;
  color: #D9DCD6;
  padding: 8px;
  font-size: 16px;
  border: none;
  font-family: archer, arial;}
.dropdown {
  position: relative;
  bottom:10;
  top:6;
  display: inline-block;
  padding-left:100px;
  margin-top:50px
  }
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2F6690;
  min-width: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: archer, arial;}
.dropdown-content a {
  color: #D9DCD6;
  padding: 2px 2px;
  text-decoration: none;
  display: block;
  font-family: archer, arial;}
.dropdown-content a:hover {background-color: #2F6690;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #2F6690;}
 .flights {
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
  color:#16425B;
  font-family: archer, arial;}

 .Hotels {
  text-align: center;
  font-size: 18px;
  margin-top: 200px;
  color:#16425B;
  font-family: archer, arial;}

 .CarRentals{
  text-align: center;
  font-size: 18px;
  margin-top:200px;
  margin-bottom: 100px;
  color:#16425B;
  font-family: archer, arial;}
  
 .plantrip {
  text-align: center;
  margin-top:100px;
  font-family: archer, arial;
  font-size: 18px;}

/*CSS for Covid Page-Jessica*/ 
.covid{  
  text-align: center;
  font-size: 16px;
  color:#16425B;
  font-family: archer, arial;
  margin-top: 100px;}
  
.Travellers{
  text-align: center;
  font-size: 16px;
  color:#16425B;
  font-family: archer, arial;
  margin-top:100px;}

.Advice{
  text-align: center;
  font-size: 16px;
  color:#16425B;
  font-family: archer, arial;
  margin-top:100px;}
  